@{
    ViewData["status"] = "user";
    string userName = Context.Request.Cookies["userName"];
}
<div class="text-center">
    <h1 class="display-4">Welcome @userName!</h1>
    <p>Please select your options in the above navigation menu.</p>
</div>