@model Models.Product
@{
    ViewData["Title"] = "GetProduct";
}

<h1>GetProduct</h1>


<h4>Please select the product you wish to order by answering a few questions</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="NewLineItem" name="form1" id="form1">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <br><br>
            <label asp-for="DiscFormat">Select a disc format:</label>
            <select name="DiscFormat" id="DiscFormat">
                <option value="CD" >CD</option>
                <option value="DVD" >DVD</option>
                <option value="Blu-ray" >Blu-ray</option>
                <option value="4K" >4K Blu-ray</option>
            </select>
            <br><br>
            <label asp-for="Color">Select a case color:</label>
            <select name="Color" id="Color">
                <option value="Clear" >Clear</option>
                <option value="Black" >Black</option>
            </select>
            <br><br>
            <label asp-for="DiscCap">Select a disc capacity:</label>
            <select name="DiscCap" id="DiscCap">
                <option value="1" >One</option>
                <option value="2" >Two</option>
                <option value="3" >Three</option>
            </select>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

